/* Import Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

::selection {
  background: #fff;
  color: #000;
}

/* Add your custom styles below */
